@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Welcome to the Home Page</h1>

    <p>
        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
    </p>
</div>
